.container {
  padding: 2rem 10%;
  max-width: 100%;
  padding-top: 65px;
  margin: 0 auto;
}

.title {   
  align-items: center;
  font-size: 200%;
  font-weight: bold;
  color: #004F2A;
  padding: 5% 10% 5%;
}

.viewIcons {
  display: flex;
  gap: 1rem;
}

.viewIcons button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.activeIcon {
  color: #0070f3; /* Change to your active color */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.tableRow {
  cursor: pointer;
}

.profileView {
  display: flex;
  flex-direction: column;
}

.profileView p {
  margin-bottom: 0.5rem;
}

.profileView strong {
  display: inline-block;
  width: 200px;
}
